asgiref==3.8.1
attrs==23.2.0
cGraph==0.1
diff-match-patch==20230430
dj-database-url==2.2.0
Django==5.0.6
django-extensions==3.2.3
django-heroku==0.3.1
django-import-export==4.0.6
django-jasmine==0.5.1
django-jazzmin==3.0.0
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.27.2
graphviz==0.20.3
inflection==0.5.1
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
pillow==10.3.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
PyJWT==2.8.0
PyYAML==6.0.1
referencing==0.35.1
rpds-py==0.18.1
setuptools==70.1.0
shortuuid==1.0.13
sqlparse==0.5.0
tablib==3.5.0
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
wheel==0.43.0
whitenoise==6.7.0
